.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-very-dark-cyan);
  color: #fff;
}

.main-footer .container {
  width: 90%;
}

.main-footer h2 {
  font-size: clamp(2rem, 2.5rem, 2vw);
  margin-bottom: 1.5rem;
}

.main-footer p {
  font-size: clamp(1.4rem, 1.5rem, 2vw);
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}

.main-footer form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input[type="email"] {
  border-radius: .5rem;
  width: 100%;
  padding: 1.5rem;
  padding-left: 1rem;
  margin-bottom: 1.2rem;
}

#sub {
  font-size: clamp(1.4rem, 1.6rem, 2vw);
  border-radius: .5rem;
  padding: 1.3rem 3.5rem;
  box-shadow: none;
  margin-bottom: 10rem;
  transition: background .3s ease-in-out;
}

#sub:hover {
	filter: brightness(101%);
	background: var(--clr-light-pink);
}

.main-footer .info svg {
  margin-bottom: 1.5rem;
  fill: #fff;
  color: #fff;
}

.main-footer .info p {
  margin-bottom: 3.5rem;
}

.main-footer .contact {
  display: flex;
  align-items: flex-start;
}

.main-footer .contact img {
  padding-right: 1rem;
}

.main-footer .contact p {
  line-height: initial;
}

.main-footer div:nth-child(2) {
  margin-bottom: 1.5rem;
}

ion-icon {
  color: #fff;
  transition: color .5s ease;
}

ion-icon:hover {
  color: #2AA9E0;
}

.main-footer .media {
  margin-bottom: 3.5rem;
}

.main-footer .media .insta {
  padding: 0 1rem;
}

@media (min-width: 750px) {
  .main-footer .container {
    display: flex;
    width: 90%;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: space-around;
  }

  .first-content p {
    width: 31rem;
  }

  .second-content p {
    width: 35rem;
  }

  .second-content {
    margin-top: 5rem;
  }
}

@media (min-width: 1000px) {
  .second-content form {
    flex-direction: row;
    align-items: flex-start;
  }

  input[type="email"] {
    width: 33rem;
    margin-right: 4rem;
    margin-bottom: 0;
  }
}