.pale-blue-section {
  background-color: var(--clr-very-pale-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.pale-blue-section .illustration {
  width: 70%;
}

.pale-blue-section .bg-top-mobile-1 {
  position: relative;
  top: -10rem;
}

.pale-blue-section .bg-bottom-mobile-1 {
  position: relative;
  bottom: -5rem;
}

.pale-blue-section h2 {
  font-size: clamp(2rem, 3rem, 2vw);
  color: var(--clr-very-dark-cyan);
  padding: 2rem 0;
}

.pale-blue-section p {
  width: 32rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

@media (max-width: 376px) {
  .bg-section-bottom-desktop-1, .bg-section-top-desktop-1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .illustration {
    margin-bottom: 8rem;
  }
}

@media (min-width: 1200px) {
  .pale-blue-section {
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
    justify-content: space-evenly;
  }

  .pale-blue-section .txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .pale-blue-section .illustration {
    width: 50rem;
  }

  .pale-blue-section p {
    width: 43rem;
    font-size: clamp(1.1rem, 1.4rem, 2vw);
  }

  .bg-section-bottom-desktop-1 {
    margin-bottom: 5rem;
  }
}

@media (max-width: 1200px) and (min-width: 751px) {
  .pale-blue-section {
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
    justify-content: space-evenly;
  }

  .pale-blue-section .illustration {
    width: 50%;
  }
}

@media (max-width: 750px) and (min-width: 376px) {
  .pale-blue-section {
    padding: 5rem 0;
  }

  .pale-blue-section .illustration {
    width: 35rem;
    margin-bottom: 8rem;
  }
}

@media (min-width: 376px) {
  .bg-top-mobile-1.-sr-only, .bg-bottom-mobile-1.-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}